#container{
    display: flex;
    flex-wrap: nowrap;
}

#canvas{
    width: 700px;
}

#ui{
    margin-top: 250px;
    margin-left: 350px;
    flex-grow: 1;
}

.card {
    display: inline-block !important;
}

input{
    vertical-align: middle;
    margin-top: auto;
    margin-bottom: auto;
}

.lead{
    vertical-align: middle;
    margin-top: auto;
    margin-bottom: auto;
    white-space: nowrap;
}

.form-control{
   margin-top: 5px;
   margin-bottom: 5px;
   padding-top: 0px !important;
   padding-bottom: 0px !important;
   width: 100px !important;
}